.container {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;



}
.container div .btn {
    border-radius: 10px;
    background-color: rgb(189, 225, 255);padding: 10px;
}
.container div .control {
    border-radius: 10px;
    background-color: rgb(193, 189, 255);padding: 10px;

}